services:
    ####################################################################################################
    # PHP
    ####################################################################################################
    back-php-tasks:
        build: ./php
        container_name: back-php-tasks
        ports:
            - ${PHP_PORT}:${PHP_PORT}
        volumes:
            - ../..:/var/www:cached
            - ./php/scripts/:/scripts

    ####################################################################################################
    # Nginx
    ####################################################################################################
    back-nginx-tasks:
        image: nginx
        container_name: back-nginx-tasks
        ports:
            - ${NGINX_PORT}:80
        volumes:
            - ../..:/var/www
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        depends_on:
            - back-php-tasks

    ####################################################################################################
    # Mailpit
    ####################################################################################################
    back-mail-tasks:
        image: axllent/mailpit:latest
        container_name: back-mail-tasks
        ports:
            - ${MAILPIT_HTTP_PORT}:8025
            - ${MAILPIT_SMTP_PORT}:1025

    ####################################################################################################
    # Redis
    ####################################################################################################
    back-redis-tasks:
        image: redis:latest
        container_name: back-redis-tasks
        command: redis-server --appendonly yes
        volumes:
            - ./redis/data:/data
        ports:
            - ${REDIS_PORT}:6379

    ###################################################################################################
    # PostgreSQL
    ###################################################################################################
    back-db-tasks:
        image: postgres:16
        container_name: back-db-tasks
        ports:
            - ${POSTGRES_PORT}:5432
        volumes:
            - ./db/data:/var/lib/postgresql/data
            - ./db/sql:/docker-entrypoint-initdb.d
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}

    ###################################################################################################
    # pgAdmin
    ###################################################################################################
    back-pgadmin-tasks:
        image: dpage/pgadmin4
        container_name: back-pgadmin-tasks
        ports:
            - 5050:80
        environment:
            - PGADMIN_DEFAULT_EMAIL=admin@admin.com
            - PGADMIN_DEFAULT_PASSWORD=password
        depends_on:
            - back-db-tasks
    